<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="static/cadastro.css">
</head>
<body>

    <img id="background" src="{{ url_for('static', filename='background.png') }}" alt="logo" class="logo-fundo">

    <div class="cadastro">
        <img src="static/logo.png" alt="logo">
        <img id="conecta" src="static/conectafacil.png" alt="conecta facil">

        <h1>É novo por aqui?</h1>
        <h4>Cadastre-se agora!</h4>

        <form method="POST" action="{{ url_for('salvarcadastro') }}">
        <div class="campo">
            <label>👤 Nome:</label>
            <input type="text" name="username" placeholder="Digite seu nome completo" required>
        </div>

        <div class="campo">
            <label>📞 Telefone:</label>
            <input type="tel" name="telefone" placeholder="ex: +55 84 9xxxx-xxxx" required>
        </div>

        <div class="campo">
            <label>🔑 Crie uma senha:</label>
            <input type="password" name="password" placeholder="Digite sua senha" required>
        </div>

        <div class="campo">
            <label>🔑 Repetir senha:</label>
            <input type="password" name="passwordx2"placeholder="Repita sua senha" required>
        </div>

        <button type="submit">Cadastrar</button>
        </form>
    </div>

</body>
</html>