<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="static/login.css">
</head>
<body>

    <div class="entrada">
        <img src="static/logo.png" alt="logo">
        <img id="conecta" src="static/conectafacil.png" alt="conecta facil">

        <h1>Login</h1>

        <form action="{{ url_for('login') }}">
            <input type="text" name="user" placeholder="Usuário" required>
            <input type="password" name="senha" placeholder="Senha" required>

            <button type="submit">Entrar</button>

            <p class="cadastro">
                Não tem conta?
                <a href="cadastro.html">Cadastre-se</a>
            </p>
        </form>
        <div class="mensagem-erro" id="mensagemErro" role="alert">
            <h2>Erro de autenticação</h2>
            <p>O usuário ou a senha estão incorretos. Verifique e tente novamente.</p>
        </div>
    </div>

</body>
</html>