<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="static/login.css">
</head>
<body>

    <img id="background" src="{{ url_for('static', filename='background.png') }}" alt="logo" class="logo-fundo">

    <div class="entrada">
        <div>
            <img id="logo" src="static/logo.png" alt="logo">
            <img id="conecta" src="static/conectafacil.png" alt="conecta facil">
        </div>

        <h1>Login</h1>

        <form action="{{ url_for('login') }}" >
            <input type="text" name="user" placeholder="Usuário" required>
            <input id="passwd" type="password" name="senha" placeholder="Senha" required>

            <button type="submit">Entrar</button>

            <p class="cadastro">
                Não tem conta?
                <a href="/cadastro">Cadastre-se</a>
            </p>
        </form>
            <div id="toggle-container">
                <a href="#" id="togglePassword">⌣</a>
            </div>
    </div>

    <div>
        <div class="mensagem-erro" id="mensagemErro" role="alert">
           <h2>Erro de autenticação</h2>
           <p>O usuário ou a senha estão incorretos. Verifique e tente novamente.</p>
        </div>  
    </div>

    
    <script src="static/toggle_script.js"></script>

</body>
</html>