<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Agenda Telefônica</title>

    <!-- CSS -->
    <link rel="stylesheet"
          href="{{ url_for('static', filename='principal.css') }}">
</head>

<body>

    <!-- CABEÇALHO -->
    <header class="cabeca">

        <img
            id="logo"
            src="{{ url_for('static', filename='logo.png') }}"
            alt="Logo"
        >

        <img
            id="logo2"
            src="{{ url_for('static', filename='conectafacil.png') }}"
            alt="Conecta Fácil"
        >

    </header>

    <!-- TÍTULO -->
    <h1 class="title">
        Olá, {{ username }}
    </h1>

    <!-- BARRA DE OPÇÕES -->
    <div class="barra-opcoes">

        <button
            class="botao-opcao"
            onclick="window.location.href='{{ url_for('criar') }}'">

            ➕ Adicionar novo contato

        </button>

    </div>

    <!-- LISTA DE CONTATOS -->
    <div class="lista-AGENDA">

        {% if agenda and agenda|length > 0 %}

            {% for contato in agenda %}

            <div class="card-contato">

                <!-- TOPO DO CARD -->
                <div class="topo-card">

                    <h2>
                        {{ contato.nome }}
                    </h2>

                    <span class="estado">
                        {{ contato.estado }}
                    </span>

                </div>

                <!-- DESCRIÇÃO -->
                <p class="descricao">

                    {{ contato.descricao }}

                </p>

                <!-- INFORMAÇÕES -->
                <div class="info">

                    <p>
                        <strong>📍 DDD:</strong>
                        {{ contato.ddd }}
                    </p>

                    <p>
                        <strong>📞 Número:</strong>
                        {{ contato.numero }}
                    </p>

                </div>

                <!-- BOTÕES -->
                <div class="acoes-card">

                    <a href="{{ url_for('editar', id=contato.id) }}">
                        <button class="editar-btn" type="button">
                            ✏️ Editar
                        </button>
                    </a>

                    <a href="{{ url_for('deletar', id=contato.id) }}" onclick="return confirm('Deseja excluir este contato?');">
                        <button class="excluir-btn" type="button">
                            🗑️ Excluir
                        </button>
                    </a>

                </div>

            </div>

            {% endfor %}

        {% elif not agenda %}
            <h1 class="title">Não há nenhum contato na agenda.</h1>
        {% endif %}

    </div>

</body>

</html>