.cabeca{
    background-color: white;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    margin: 0;
}
#logo{
    width: 120px; 
}
#logo2{
    height: 60px;
}
body{
    background-color: #000080;
    margin: 0;
}