.entrada{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: white;
    padding: 30px;
    border-radius: 8px;
}
img{
    width: 120px; 
}
#conecta{
    width: 200px;
}
body{
    margin: 0;
    background-color: #000080;
    display: flex;
    justify-content: center;
    align-items: center;     
    height: 100vh;
}