.cadastro{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    gap: 2px;
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    width: 300px;
}
img{
    width: 120px; 
    align-self: center;
}
#conecta{
    width: 200px;
}

img:first-child{
    margin-top: -15px;
}

h1{
    margin-bottom: 0;
}
h4{
    margin-top: 0;
    padding-top: 0;
}
body{
    margin: 0;
    background-color: #000080;
    display: flex;
    justify-content: center;
    align-items: center;     
    height: 100vh;
}
h1, h4{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #000080;
}
form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
}
.campo{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
label {
    font-weight: bold;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
input{
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
}
button{
    padding: 10px;
    background-color: #000080;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
button:hover{
    background-color: #000060;
}


