<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <div class="entrada">
        <img src="logo.png" alt="logo">
        <img id="conecta" src="conectafacil.png" alt="conecta facil">

        <h1>Login</h1>

        <form>
            <input type="text" placeholder="Usuário" required>
            <input type="password" placeholder="Senha" required>

            <button type="submit">Entrar</button>
            <p class="cadastro"> Não tem conta? <a href="cadastro.html">Cadastre-se</a></p>
        </form>
    </div>
    
</body>
</html>