<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Principal</title>
    <link rel="stylesheet" href="principal.css">
</head>
<body>
    <h1 class="title">Olá Fulano!</h1>

    <div class="opcoes">
        <div class="op1">
            <h5>Lista de contatos</h5>
        </div>

        <div class="op2">
            <h5>Adicionar um novo contato</h5>
        </div>
</div>
</body>
</html>